.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #7f9c4d;
  min-height: 30vh;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-body {
  min-height: 5vh;
  display: flex;
  block-size: 100px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
  justify-content: space-evenly;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.randomizeColorButton {
  background-color: rgb(251, 255, 0);
  height: 50px;
  width: 150px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hueList {
  height: 50px;
  width: 150px;
}

.luminosityList {
  height: 50px;
  width: 150px;
}
